body{
 font-family: "Montserrat", sans-serif;
 margin: 0%;
 background-color: black;
 color: #fff;
 overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: black;
    width:340px ;
    border-radius: 1rem;
    margin-right: 0.5rem;
    
}